@model AdminManageEmployees.Models.LeaveType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaveType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateeOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateeOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
