@model IEnumerable<AdminManageEmployees.Models.LeaveType>

@{
    ViewData["Title"] = "Leave Types";
}

<h1>Employee Leaves</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Leave Types List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CreateeOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CreateeOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" Class="btn btn-warning">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
    <!-- /.card-body -->
</div>
